.loadingList{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    & > div{
        animation: pulse .4s infinite;
        background: var(--color-gray);
        width: 100%;
        height: clamp(200px, 40vw, 520px);
    }

    @media (min-width: 800px) {
        grid-template-columns: repeat(4, 1fr);

        & div:nth-child(6n - 3) {
            grid-column-start: 3;
            grid-column-end: 5;
        }

        & div:nth-child(6n - 2) {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }
}

@keyframes pulse{
    0%{
        opacity: .5;
    } 50% {
        opacity: 1;
    } 100% {
        opacity: .5;
    }
}